{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="{% static "style1.css"%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button>
      </li>
    </ul>
  </div>
</nav>
        </div>

      </div>


      <div class="row">
        <div class="col-md-12">
          <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col">
                <input type="search" name="item_name"  placeholder="Search for products" class="form control form-control-borderless">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success">Search</button>
              </div>

            </div>

          </form>

        </div>

      </div>




      <div class="row">
        {% for i in ecommerce %}
        <div class="col-md-3">
          <div class="card">
            <img src="{{ i.image }}" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                {{i.name}}
              </div>
              <div class="card-text">
                RS.{{i.price}}

              </div>
              <a href="/detail/{{i.id}}" class="btn btn-success">View</a>
              <button  id="{{i.id}}"class="btn atc btn-success">Add to cart</button>
            </div>


          </div>

        </div>
        {% endfor %}
      </div>


      </div>

    </div>

    </div>
  </body>

<script type="text/javascript">

if(localStorage.getItem('cart')==null)
{
     var cart={}//key=product_id and value=quantity
}

else
 {
  cart=JSON.parse(localStorage.getItem('cart'))//{4:2}
}


$(document).on('click','.atc',function()
{
console.log("Item has been added")
var item_id=this.id.toString()
console.log(item_id);

if(cart[item_id]!=undefined)
{
  cart[item_id]=cart[item_id]+1
}

else
 {
  cart[item_id]=1
}

console.log(cart);

localStorage.setItem('cart',JSON.stringify(cart))

document.getElementById('cart').innerHTML="Cart("+Object.keys(cart).length+")"




});
   $(function () {
  $('[data-toggle="popover"]').popover()
})

</script>

</html>
